.footer{

    .imgContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px ;
        margin-top: 15px;

        img{
            width: 40px;
            height: 40px;
            border: 0.2px solid black;
            border-radius: 50px;
            margin-left: 30px;
            margin-right: 30px;
        }
    }
    .textContainer{
        display: flex;
        padding-top: 50px;
        padding-bottom: 80px;
        justify-content: center;
        background-color: rgb(20, 20, 39);
        color: white;
    }
    .textItem{
        margin-top: 8px;
        margin-left: 80px ;
        margin-right: 80px;
        font-family: Arial, Helvetica, sans-serif;

        h3{
            font-weight: 100;
            margin-bottom: 10px;
        }
        h5{
            margin-bottom: 4px;
            color: rgb(192, 189, 189);
        }
        button{
            border: 2px solid rgb(2, 82, 128);
            width: 171px;
            height: 35px;
            color: white;
            font-weight: bold;
            background: rgb(20, 20, 39);
        }

        button:hover{
            transform: scale(1.07);
            transition: 1s;
        }
    }
    .copyRight{
        background: #000;
        background: rgb(20, 20, 39);
        padding-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;

        h4{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        h5{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            margin-top: 4px;
            margin-bottom: 30px;
        }
    }
}

       