$image-path: '../img/searchIcon.jpg';

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.5s all ease;

  
    &.active {
        background-color: white;
        color: black;

        .registerBtn {
            background-color: white ;
            color: #1dbf73 ;
            border: 1px solid #1dbf73;
            font-size: medium
        }
    }

    .container {
        width: 1400px;   
        display: flex;   
        justify-content: space-between;
        padding: 20px 0px;

        .logo {
            font-size: 34px;
            font-weight: bold;
        }

        .links {
            display: flex;
            align-items: center;
            gap: 24px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;

            span {
                white-space: nowrap;
                
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .options {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    border-radius: 10px;
                    z-index: 999;
                    border: 1px solid lightgrey;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 200px;
                    font-weight: 300;
                    color: gray;
                }
            }

        }
    }

    hr {
        width: calc(100% - 2px);
        height: 0;
        border-top: 0.5px solid #ebe9e9;
        border-bottom: 0.5px solid #ebe9e9;
    }

    .menu {
        width: 1400px;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        color: gray;
        font-weight: 300;
        font-family: "Montserrat", sans-serif;
    }
    .text{
        font-family: Arial, Helvetica, sans-serif;
    }

    .searchContainer{
        display: flex;

.searchBar{
    margin-left: 20px;
    width: 450px;
    height: 35px;
    padding: 6px;
    outline-color: black;
    border: 1px solid black;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
 button{
    background-image: url($image-path);
    width: 50px;
    height: 49px;
    background-size: cover ;
    overflow: hidden;
    border: 0.5px solid black;
    margin-right: 300px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
 }
}

 .registerBtn {
     color: white;
     padding: 10px 20px;
     border-radius: 5px;
     border: 1px solid #1dbf73;
    background-color: #1dbf73;
    font-size: medium; 
     cursor: pointer;

     &:hover {
         transform: scale(1.07);
         transition: 0.7s;
     }
 }
}