.chat{
    // Chat.scss
    
        .chat {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
    
        .container {
            max-width: 600px;
            margin: 0 auto;
        }
    
        .chatInfo {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
    
        .texts {
            margin: 0px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                height: 450px;
                overflow: scroll;
        }
    
        .sender {
            align-self: flex-end;
            max-width: 70%;
            margin-top: 10px;
            margin-left: auto;
            background-color: #DCF8C6;
            padding: 10px;
            border-radius: 10px;
        }
    
        .sender img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
    
        .receiver {
            max-width: 70%;
            margin-top: 10px;
            background-color: #F5F5F5;
            padding: 10px;
            border-radius: 10px;
        }
    
        .receiver img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
    
        .chatInput {
            display: flex;
            margin-top: 20px;
        }
    
        .chatInput textarea {
            flex: 1;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        
        }
    
        .chatInput button {
            padding: 10px 20px;
            margin-left: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
    
        .chatInput button:hover {
            background-color: #0056b3;
        }
}